# Environment variables
*/.env

# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
*.prof
*.trace
dist/
vendor/

# IDE/Editor
.vscode/
.idea/

# Temporary files
*.tmp
*.log

# Build system
builds/
tests/

# Drawio
*.bkp
