.member-box {
  margin: 100px 20px 0 20px;
  background-color: var(--light-bg-color);
  text-align: left;
}

.member-box .sort-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.member-box .dropdown-label {
  display: inline-block;
  margin-right: 10px;
}

.member-box .filter-button {
  font-size: 12px;
  text-align: center;
}

.member-box .icon img {
  width: auto;
  height: 20px;
  margin-right: 5px;
  margin-top: 4px;
}


.member-box .fetch-url-button{
  padding: 5px;
  border: none;
  background-color: #eeeeee;
  border: 1px solid var(--secondary-color);
  box-shadow: 0 4px 8px var(--light-border-color);
  color: #333;
  font-size: 10px;
  cursor: pointer;
  height: 40px;
  width: 90px;
  margin-bottom: 2px;
}



.member-box .sort-key-button
{
  padding: 5px;
  border: none;
  background-color: #eeeeee;
  border: 1px solid var(--secondary-color);
  box-shadow: 0 4px 8px var(--light-border-color);
  color: #333;
  font-size: 10px;
  cursor: pointer;
  height: 40px;
  width: 150px;
  margin-bottom: 2px;
  border-radius: 5px;
}

.member-box .sort-order-button
{
  padding: 5px;
  border: none;
  background-color: #eeeeee;
  border: 1px solid var(--secondary-color);
  box-shadow: 0 4px 8px var(--light-border-color);
  color: #333;
  font-size: 14px;
  cursor: pointer;
  height: 40px;
  width: 60px;
  margin-bottom: 2px;
  border-radius: 5px;
}

.member-box .filter-button {
  padding: 5px;
  border: none;
  background-color: #eeeeee;
  border: 1px solid var(--secondary-color);
  box-shadow: 0 4px 8px var(--light-border-color);
  color: #333;
  font-size: 14px;
  cursor: pointer;
  height: 40px;
  width: 60px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.member-box .filter-input {
  padding: 5px;
  border: none;
  background-color: #eeeeee;
  border: 1px solid var(--secondary-color);
  box-shadow: 0 4px 8px var(--light-border-color);
  color: #333;
  font-size: 14px;
  cursor: pointer;
  padding-left: 10px;
  height: 40px;
  width: 210px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.member-box .backwards{
  padding: 5px;
  border: none;
  background-color: #eeeeee;
  border: 1px solid var(--secondary-color);
  box-shadow: 0 4px 8px var(--light-border-color);
  color: #333;
  font-size: 14px;
  cursor: pointer;
  padding-left: 10px;
  height: 40px;
  width: 60px;
  margin-bottom: 2px;
  border-radius: 5px;
}

.member-box .forwards{
  padding: 5px;
  border: none;
  background-color: #eeeeee;
  border: 1px solid var(--secondary-color);
  box-shadow: 0 4px 8px var(--light-border-color);
  color: #333;
  font-size: 14px;
  cursor: pointer;
  padding-left: 10px;
  height: 40px;
  width: 60px;
  margin-bottom: 2px;
  border-radius: 5px;
}

.member-box .sort-key-button {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.member-box .sort-order-button {
  border-radius: 0;
}

.member-box .filter-button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.member-box .filter-input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.member-box .backwards {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.member-box .forwards[fb-button=false] {
  display: none;
}

.member-box .backwards[fb-button=false] {
  display: none;
}

.member-box .fetch-url-button[fb-button=false] {
  width: 210px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.member-box .forwards:disabled {
  background-color: #cccccc;
}

.member-box .backwards:disabled {
  background-color: #cccccc;
}



.member-box .forwards {
  border-radius: 0;
}

.member-box .sort-order-button::before {
  content: attr(data-text);
}

.member-box .message{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: #333;
  margin-bottom: 20px;
}

.member-box .data-box-container {
  margin-bottom: 20px;
}

.member-box .data-box {
  border-radius: 10px;
  border: 1px solid var(--secondary-color);
  box-shadow: 0 4px 8px var(--light-border-color);
  transition: transform 0.3s ease-in-out;
  margin-bottom: 20px;
  background-color: #ffffff;
}

.member-box .data-box[data-clan-status='0'] {
  background-color: #efefef;
}

.member-box .data-box h3 {
  margin: 0;
  padding: 0;
  font-size: 24px;
  color: #333;
  background-color: var(--light-heading-color);
  padding: 10px;
  margin-bottom: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 10px 10px 0 0;
}

.member-box .data-box h3 small {
  font-size: 14px;
  color: #505050;
}

.member-box .data-box h3 i {
  float: right;
  font-size: 14px;
  color: #505050;
  text-transform: uppercase;
  padding: 5px;
}

.member-box .data-box h3 img {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-left: 5px;
}

.member-box .stats-container {
  display: flex;
  padding: 20px;
}

.member-box .data-box .tool-tip {
  flex: 1;
  margin-right: 10px;
  font-size: 24px;
  color: #666;
  text-align: center;
}

.member-box .tool-tip p img {
  display: block;
  margin: 0 auto 5px;
  width: auto;
  height: 80px;
}

.member-box .scroll-button {
  position: fixed;
  bottom: 80px;
  right: 30px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: var(--light-bg-color);
  box-shadow: 0 4px 8px var(--dark-border-color);
  color: var(--dark-bg-color);
  font-size: 30px;
  display: none;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  cursor: pointer;
}

/* Styles specific to mobile devices */
@media (max-width: 767px) {
  .member-box .data-box {
    flex: 0 0 calc(100% - 20px);
    margin-bottom: 15px;
  }

  .member-box .data-box h3 {
    font-size: 20px;
    margin-bottom: 5px;
  }

  .member-box .data-box p {
    font-size: 24px;
  }
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
  .member-box {
    background-color: var(--dark-bg-color);
  }

  .member-box .data-box {
    background-color: #808080;
    box-shadow: 0 4px 8px var(--dark-border-color);
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
  }

  .member-box .sort-key-button,
  .member-box .fetch-url-button,
  .member-box .sort-order-button,
  .member-box .filter-button,
  .member-box .filter-input,
  .member-box .backwards,
  .member-box .forwards {
    background-color: #808080;
    border: 1px solid var(--primary-color);
    box-shadow: 0 4px 8px var(--dark-border-color);
    color: var(--primary-color);
  }

  .member-box .forwards:disabled {
    background-color: var(--dark-bg-color);
  }

  .member-box .backwards:disabled {
    background-color: var(--dark-bg-color);
  }

  .member-box .message {
    color: var(--primary-color);
  }

  .member-box .filter-input::placeholder {
    color: var(--primary-color);
  }

  .member-box .icon img {
    filter: invert(1);
  }

  .member-box .data-box[data-clan-status='0'] {
    background-color: var(--dark-bg-color);
  }

  .member-box .data-box h3 {
    color: var(--primary-color);
    background-color: #505050;
  }

  .member-box .data-box h3 small {
    color: #ccc;
  }

  .member-box .data-box h3 i {
    color: #ccc;
  }

  .member-box .data-box p {
    color: var(--primary-color);
  }

  .member-box .scroll-button {
    background-color: var(--dark-bg-color);
    color: var(--light-bg-color);
    box-shadow: 0 4px 8px var(--light-border-color);
  }
}
