.memberTable {
  margin-top: 10vh;
  margin: 20px auto;
  max-width: 800px;
  background-color: #222;
  border-radius: 10px;
  padding: 20px;
  margin-top: 10vh;
}

.memberTable table {
  width: 100%;
  border-collapse: collapse;
}

.memberTable th,
.memberTable td {
  padding: 10px;
  text-align: left;
}

.memberTable th {
  color: #fff;
  font-weight: bold;
  background-color: #444;
}

.memberTable th:hover {
  cursor: pointer;
}

.memberTable tbody tr:nth-child(even) {
  background-color: #333;
}

.memberTable .gray-row {
  background-color: black !important;
}

.fa-sort,
.fa-sort-up,
.fa-sort-down {
  margin-left: 5px;
  color: #ccc;
  transition: transform 0.3s;
}

.fa-sort:hover,
.fa-sort-up:hover,
.fa-sort-down:hover {
  transform: scale(1.2);
  color: #fff;
}

.fa-sort-up {
  transform: rotate(180deg);
}

.fa-sort-down {
  transform: rotate(0deg);
}
