.memberTable {
  margin: 10vh auto;
  padding: 20px;
}

.clanTagInput {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.clanTagInput::placeholder {
  color: #ccc;
}

.memberTable table {
  width: 100%;
  border: 1px solid #ccc;
  border-collapse: collapse;
}

.memberTable th {
  cursor: pointer;
  padding: 10px;
  text-align: left;
  color: var(--secondary-color);
  font-weight: bold;
  background-color: #ccc;
}

.memberTable th img {
  width: auto;
  height: 20px;
  margin-right: 5px;
  vertical-align: middle;
}

.memberTable th img:hover {
  transform: scale(1.2);
}

.memberTable .sort-icon {
  font-size: 12px;
}

.memberTable .sort-icon.asc:before {
  content: "\25B2";
}

.memberTable .sort-icon.desc:before {
  content: "\25BC";
}

.memberTable td {
  font-size: 18px;
  padding: 10px;
  text-align: left;
}

.memberTable td .tag {
  font-size: 10px;
  color: var(--dark-bg-color);
}

.memberTable tbody img {
  width: 10px;
  height: 10px;
  margin-left: 2px;
  vertical-align: top;
}

.memberTable tbody tr:nth-child(odd) {
  background-color: #ffffff;
}

.memberTable tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.memberTable tbody tr[data-clan-status='0'] {
  background-color: #e0e0e0;
}

.memberTable tbody tr[data-clan-status='0']:nth-child(even) {
  background-color: #d3d3d3;
}

.fa-sort,
.fa-sort-up,
.fa-sort-down {
  margin-right: 5px;
  color: var(--secondary-color);
  transition: transform 0.3s;
}

.fa-sort:hover,
.fa-sort-up:hover,
.fa-sort-down:hover {
  transform: scale(1.2);
}

.fa-sort-up {
  transform: rotate(180deg);
}

.fa-sort-down {
  transform: rotate(0deg);
}

/* Tooltip styles */
.tool-tip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tool-tip-text {
  visibility: hidden;
  width: 120px;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.tool-tip:hover .tool-tip-text {
  visibility: visible;
  opacity: 1;
}

.tool-tip img {
  vertical-align: middle;
}

@media (prefers-color-scheme: dark) {

  .clanTagInput {
    background-color: #808080;
    color: var(--light-bg-color);
    border: 1px solid var(--primary-color);
  }

  .clanTagInput::placeholder {
    color: var(--light-bg-color);
  }

  .memberTable table {
    border: 1px solid var(--primary-color);
  }

  .memberTable th {
    color: var(--light-bg-color);
    background-color: #505050;;
  }

  .memberTable td .tag {
    color: var(--light-bg-color);
  }

  .memberTable tbody tr:nth-child(odd) {
    background-color: #808080;
  } 

  .memberTable tbody tr:nth-child(even) {
    background-color: #606060;
  }

  .memberTable tbody tr[data-clan-status='0'] {
    background-color: #505050;
  }
  
  .memberTable tbody tr[data-clan-status='0']:nth-child(even) {
    background-color: #404040;
  }

  .fa-sort,
  .fa-sort-up,
  .fa-sort-down {
    color: var(--light-bg-color);
  }

}