  .container {
  margin: 20px auto;
  max-width: 800px;
  background-color: #222;
  border-radius: 10px;
  padding: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  text-align: left;
}

th {
  color: #fff;
  font-weight: bold;
  background-color: #444;
}

th:hover {
  cursor: pointer;
}

tbody tr:nth-child(even) {
  background-color: #333;
}

.gray-row {
  background-color: #555 !important;
}

.fa-sort,
.fa-sort-up,
.fa-sort-down {
  margin-left: 5px;
  color: #ccc;
  transition: transform 0.3s;
}

.fa-sort:hover,
.fa-sort-up:hover,
.fa-sort-down:hover {
  transform: scale(1.2);
  color: #fff;
}

.fa-sort-up {
  transform: rotate(180deg);
}

.fa-sort-down {
  transform: rotate(0deg);
}
