/* leaderboard.css */


.leaderboard {
    margin: 20px auto;
    width: 80%;
}

.clan-main h1 {
    text-align: center;
}

.leaderboard table {
    width: 100%;
    border-collapse: collapse;
}

.clan-main th,
.clan-main td {
    padding: 12px;
    text-align: left;
}

.clan-main th {
    background-color: var(--bg-color);
    border: thin solid var(--accent-color-1);
}

.clan-main tr:nth-child(even) {
    background-color: var(--bg-color-2);
}

.clan-main tr:hover {
    background-color: var(--bg-color-hover);
}

.clan-main td:nth-child(1) {
    color: var(--accent-color-1);
}

.clan-maintd:nth-child(2) {
    color: var(--accent-color-2);
    font-weight: var(--highlight-color-bold);
}

.clan-main td:nth-child(3) {
    color: var(--highlight-color-2);
}

@media (prefers-color-scheme: dark) {
    .clan-main body {
        background-color: var(--primary-color);
        color: var(--dark-text-color);
    }

    .clan-main h1 {
        color: var(--dark-text-color);
    }

    .clan-main table {
        color: var(--dark-text-color);
    }

    .clan-main th {
        background-color: var(--dark-bg-color);
        color: var(--dark-text-color);
    }

    .clan-main tr:nth-child(even) {
        background-color: var(--dark-bg-color);
    }

    .clan-main tr:hover {
        background-color: var(--dark-bg-color-hover);
    }
}


.error-message {
    color: red;
    font-size: 15px;
    margin-top: 5px;
}

