.data-box-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  margin-bottom: 20px;
}

.data-box {
  flex: 0 0 calc(33.33% - 20px);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px var(--light-border-color);
  transition: transform 0.3s ease-in-out;
  margin-bottom: 20px;
}

.data-box[data-clan-status='1'] {
  background-color: #ffcccc;
}

.data-box h3 {
  margin: 0;
  padding: 0;
  font-size: 24px;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: #ffcc00;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.data-box h3 small {
  font-size: 14px;
  color: var(--primary-color);
  margin-left: 5px;
}

.data-box p {
  margin: 10px 0;
  font-size: 18px;
  color: #666;
}

/* Styles specific to mobile devices */
@media (max-width: 767px) {
  .data-box {
    flex: 0 0 calc(100% - 20px);
    margin-bottom: 15px;
  }

  .data-box h3 {
    font-size: 20px;
    margin-bottom: 5px;
  }

  .data-box p {
    font-size: 16px;
  }
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
  .data-box-container {
    background-color: #333;
  }

  .data-box {
    background-color: #444;
    color: var(--primary-color);
    box-shadow: 0 4px 8px var(--dark-border-color);
  }

  .data-box[data-clan-status='1'] {
    background-color: #808080;
  }

  .data-box h3 {
    color: var(--prymary-color);
    background-color: #505050;
  }

  .data-box h3 small {
    color: #ccc;
  }
}
