:root {
    --primary-color: #fff;
    --secondary-color: #000;

    --light-bg-color: #fcfcfc;
    --dark-bg-color: #404040;

    --light-heading-color: #eaeaea;
    --dark-heading-color: #282828;

    --light-border-color: #ccc;
    --dark-border-color: #333;

    --light-link-color: #000;
    --dark-link-color: #fff;

    --light-link-hover-color: #666;
    --dark-link-hover-color: #999;


    --accent-color-1: #ff6b6b;
    --accent-color-2: #4ecdc4;
    --highlight-color-bold: bold;
    --highlight-color-2: #ffa94d;

    --dark-text-color: #fff;
    --dark-bg-color-hover: #444;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

main {
    text-align: center;
    min-height: calc(100vh - 100px);
    max-width: 100vw;
}

.clan-slide {
    margin: 20px 0;
}

/* Responsive Design */
@media (prefers-color-scheme: dark) {
    body {
        color: var(--primary-color);
        background-color: var(--dark-bg-color);
    }
    :root {
        --accent-color-1: #ffffff;
        --accent-color-2: #63c7bf;
        --highlight-color-bold: bold;
        --highlight-color-2: #ffbf80;

        --text-color: #fff;
        --bg-color: #1a1a1a;
        --bg-color-2: #282828;
        --bg-color-hover: #fffefe;
    }
}

@media (prefers-color-scheme: light) {
    body {
        color: var(--secondary-color);
        background-color: var(--light-bg-color);
    }
    :root {
        --accent-color-1: #000000;
        --accent-color-2: #009b96;
        --highlight-color-bold: bold;
        --highlight-color-2: #ff823f;

        --text-color: #b9b9b9;
        --bg-color: #ffffff;
        --bg-color-2: #e0e0e0;
        --bg-color-hover: #ccc;
    }
}